* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding:50px;
    background-color: #ffeaa7;
    font-family: sans-serif;
}



/* CSS for Cards start */
.heading{
    text-align: center;
    margin:auto;
}

.card{
    transform: scale(1.25);
    height:200px;
    width: 320px;
    margin: 80px auto;
    display: flex;
    background-color:#81ecec;
    border-radius: 25px;
    position: relative;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4)
}

.title{
    width:320px;
    height:80px;
    font-size:small;
    color: #2d3436;
    position:absolute;
    background-color:#00cecbfd;
    display:flex;
    border-radius: 25px 25px 0 0;
    padding: 10px 20px;
}

.card-img{
    border-radius: 50%;
    border: 7px solid white;
    position:absolute;
    width: 120px;
    height: 120px;
    top: 20px;
    right: 20px;
}

.content{
    margin-top: 100px;
    padding: 10px 20px;
}

.content p {
    margin-top:10px;
    color:#1a7e76;
}

.name{
    position: absolute;
    bottom: 20px;
}


/* CSS for emojipedia */
.heading-box {
    margin: 0;
}

.emoji-heading {
    text-align: center;
    font-size: 500%;
    color: white;
    font-weight: 300;
    letter-spacing: 3px;
    padding: 10px 20px;
}

.emoji-heading span {
    padding: 10px;
    background-color: #2ec2b0;
}

.emoji {
    font-size: 400%;
}

.emoji-card-box {
    padding: 20px;
    margin: 20px;
    width: 350px;
    text-align: center;
    height: 300px;
    background-color: white;
    box-shadow: 0 5px 10px rgb(0,0,0,0.4);
}

.emoji-container {
    display: flex;
    flex-flow: row wrap;
    margin: 35px 0;
    justify-content: space-between;
    padding: 20px;
}

.emoji-title {
    color:#2ec2b0;
    font-size: 200%;
    margin-top: 20px;
}

.emoji-detail {
    font-size: 92.5%;
    color: #a1a1a1;
    text-align: center;
    margin-top: 20px;
}


/* CSS for counter */

.counterBox{
    margin:auto;
    text-align:center;
}

.count{
    font-size: 500%;
}

.counterBox button{
    width: 50px;
    font-size: 100%;
    padding: 15px;
    margin: 5px;
}

/* CSS for Form */
.form-container{
    text-align: center;
    max-width: 300px;
    min-width: max-content;
    height: 15rem;
    position: relative;
    margin: 10% auto;
}

.form-container p{
    color: white;
    font-size: 250%;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.form-container input{
    background-color: rgba(255, 255, 255, 0.219);
    color: white;
    padding: 10px 15px;
    width: 250px;
    display: block;
    text-align: center;
    border: none;
    margin: 0 auto 10px auto;
    font-size: 18px;
}

.form-container button{
    padding: 10px 15px;
    width: 250px;
    margin: 5px;
    font-size: medium;
    color: #50a3a2;
    background-color: white;
    border-radius: 4px;
    letter-spacing: 1px;
    border: none;
}

.form-container .email{
    font-size: 150%;
    margin-bottom: 25px;
}

/* CSS for To-Do List */

.todolist{
    margin: 10px auto;
    font-family: 'Architects Daughter', cursive;
    border: 1px solid white;
    background-color: #f1f5f8;
    max-width: 350px;
    padding: 30px 15px;
    border-radius: 30px;
    min-height:500px;
    max-height: max-content;
    box-shadow: 0 5px 10px 0  rgba(0,0,0,0.3);
}

.todolist h1{
    font-size: 30px;
    text-align: center;
    font-weight: 100;
    margin-bottom: 30px;
    transform: rotate(3deg);
}

.todolist h1 span{
    border-radius: 8px;
    border-bottom-right-radius: 20px;
    background-color:#fdcb6efb;
    padding: 0 20px;
}

.todolist input{
    border: none;
    width: 70%;
    padding: 5px 15px;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
    line-height: 5px;
    background-color: #f1f5f8;
    border-bottom: 3px dashed #fdcb6e;
    letter-spacing: 1.5px;
    /* margin: 0 30px; */
}

.todolist input:focus{
    outline: none;
}

.todolist .inpButton{
   display: flex;
   justify-content: center;
}

.inpButton input{
    margin: 0 auto;
}

.inpButton button{
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
    padding: 0 10px;
}

.todolist .list{
    font-size: 150%;
    padding: 30px 60px;
    overflow-wrap: break-word;
}